*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    
}


ul :hover{
    cursor: pointer;
    color: aqua;
    transform: scale(1.1);
}



/* .main-container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
} */

.tabs{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.leagesTab, .standingsTab{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 50px;
    border: solid 2px white;
    cursor: pointer;
}



.leages-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
}

.leagueChild{
    margin: 20px 0px;
    cursor: pointer;
}

.leagueChild :hover{
    transform: scale(1.1);
}

.leagueChild > img{
    width: 250px;
}



.footer{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    margin-left: 20px;
    font-size: 50px;
}

h1:hover{
    transform: scale(1.1);
}

.nav{
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    display: flex;
    text-decoration: none;
}
li{
    margin-right: 20px;
    text-decoration: none;
}

select {
    padding: 10px;
    font-size: 19px;
}

#play{
    color: rgb(23, 106, 179);
}


/* .stadingRes{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 22px 0px;
} */

#playerDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 1% 40%; */
    margin: auto;
    padding: 50px;
    border-radius: 7px;
    color: aliceblue;
    width: 100%;
    max-width: 1200px;
}

.playerCard{
    width: 250px;
    margin: 1rem;
    height: 300px;
    background-color: #1d5388;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    flex-direction: column;
    text-align: center;
}



#playerInput{
    /* margin: 20px; */
    display:flex;
    justify-content: center;
    
}


#aboutP{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-size: 1rem;
}
#about{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 50px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: .5rem;
}

table{
    width: 100%;
}

.standingscontainer{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.selectCont{
    margin: 0 auto 1rem auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.wdl{
    width: 8%;
}


#mainPlayers{
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1618073193718-23a66109f4e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, );
}




/* 
.logo-name{
    display: flex;
    align-items: center;
} */